body{
    background-color: #162243;
    font-family: 'Montserrat', sans-serif;
}
button {
    background-color: brown;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    padding: 0.7rem 0.5rem;
    }
    button:hover{
        cursor: pointer;
        background-color: rgb(134, 36, 36);
    }
#message{
    font-size: xx-large;
    color: black;
}